             
<app-header> </app-header> 
<div class=" nombrepos">
    <p> {{userDisplayName}}</p> 
</div>  
  
<div class="btn-enviadoc" >
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">   
            <div class="fadeIn first">     
             <div class="col-md-12"> 
                <i class="fas fa-file-alt"> Enviar Documentos</i> 
                <hr>
                <button id="submitButton" type="submit" class="" style=" font-size: 18px;" >Ingresar </button> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
</div>

<div class="btn-verdoc" >
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">   
            <div class="fadeIn first">
            <div class="col-md-12">  
                <i class="fas fa-search">Ver documentos</i>
                <hr>
                <button id="submitButton" type="submit" class="verdoc" style=" font-size: 18px;" >Ingresar </button> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

<div class="btn-oficinas" >
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">   
            <div class="fadeIn first">
            <div class="col-md-12"> 
                <i class="fas fa-map-marker-alt">Ver oficinas</i>
                <hr>
                <button id="submitButton" type="submit" class="" style=" font-size: 18px;" > Ingresar</button> 
             </div>
           </div>
         </div>
       </div>
     </div>
   </div> 
</div> 

 

 

