<div class="container" >
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">

            </h5>
            
                   <img class="centrado" src="./assets/logo1.png" width="50%">
                   <br>
          <h6>Ingresa tus datos para acceder</h6> 
            
            <form [formGroup] = "loginForm" (ngSubmit)="onLogin(loginForm.value)" class="form-signin"> 
              
              <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                        <input type="email"   class="form-control rounded icon-placeholdere" placeholder=" Correo"  formControlName="usuario" required>
                    </div>
                  </div>  
              </div> 
              <div class="form-group" style="margin-top:25px;">
                  <div class="row">
                    <div class="col-md-12">
                        <input type="password"  class="form-control rounded  icon-placeholderp"  placeholder=" Password" formControlName="password" required> 
                    </div>
                  </div>
              </div>
              <br>
              <div class="row" *ngIf="">
                  <label class="float-right" style="color:red">Usuario o password incorrecto</label>
              </div> 
              <br>
              <div class="col text-center"> 
                  <button type="submitBut" class="btn btn-sm  btn-block btn-normal" style=" font-size: 18px;" >Ingresar</button>  
                  <br>
                  <button id="submitButton" class="btn btn-sm  btn-block btn-huella " onclick="this.blur();" style=" font-size: 18px;"  type="button"  [disabled]="!loginForm">  Ingrese con huella</button>  
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
