input.form-control.rounded {
  border-radius: 0.6rem !important;
}  

h6{ 
  margin-top: 12px;
  text-align: center;
}

.card-signin {
  border: 2;  
  width: 28rem;
  border-radius: 0.9rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0.1, 0.2);
} 










html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}



#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: left;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
 
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

button[type=button], button[type=submit], button[type=reset]  {
  background-color: white;
  border: none;
  color: black;
 /* padding: 15px 80px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  /*box-shadow: 0 8px 30px 0 rgba(162, 163, 162, 0.4);*/
  box-shadow: rgba(0,0,0, 0.24) 0px 3px 8px;
  
  font-family: "Font Awesome 5 Free";
  border-radius: 5px 5px 5px 5px;
  width: 280px;
  height: 50px; 
  border-radius: 0.7rem;  
  font-family: "Font Awesome 5 Free"; 
}

button[type=button]:hover, button[type=submit]:hover, button[type=reset]:hover  {
  background-color: maroon;
  color: white;
  font-family: "Font Awesome 5 Free";
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
 
 
}

input[type=email] {
  background-color:rgb(245, 245, 245);
  border: none;
  color: #0d0d0d;
  padding: 10px 32px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 98%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-family: "Font Awesome 5 Free"; 
  border-radius: 0.5rem;
  font-weight: bold; 
}

input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid rgb(189, 11, 11);
}

input[type=email]:placeholder {
  color: #d41c1c;
 
}
 
input[type=password] {
  background-color:rgb(245, 245, 245);
  border: none;
  color: #0d0d0d;
  padding: 10px 32px;
  /*text-align: center;*/
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 98%; 
  margin-top: -30%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: bold; 
  border-radius: 0.5rem;
} 


input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid rgb(189, 11, 11);;
}

input[type=password]:placeholder {
  color: #d41c1c;
 
}


/* Simple CSS3 Fade-in Animation */


.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
}

#icon {
  width:60%;
} 

.centrado{
  margin:10px auto;
  display:block; 
  margin-top: -3%;
} 


.fifth {
  margin-top: 20px;  
  width: 200px;
  margin-left: 150px;
  font-family: "Font Awesome 5 Free";
  background-color: brown;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
} 

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

