
<nav class="respmenu navbar navbar-dark " > 

    <input type="checkbox"> 
    
    <button class="fas fa-bars" type="button" style="font-size: 25px;" data-toggle="collapse" data-target="#navbar6" aria-controls="navbar6" aria-expanded="false" aria-label="Toggle navigation"></button>   

    <i class="fas fa-times"></i> 
    <nav>
        <ul class="navbar-new"> 
            
                <a class="nav-link" href="#" routerLink="/enviarDocumentos">Enviar documento</a>
           
                <a class="nav-link" href="#" routerLink="/verDocumentos">Ver documentos</a>
          
                <a class="nav-link" href="#" routerLink="/verOficinas">Ver oficinas</a>
                
                <a  class="nav-link" href="#"(click)="logOut()">Cerrar sessión</a>
            
        </ul>
    
    </nav>   

</nav>  


